
html
{
	overflow : auto;
	height : 100%;
}

body
{
	/*height : 100%;*/
}

.center
{
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items :center;
}


.main_sec
{
	/*height : 100%;*/
	width : 100%;
}

#post_form
{
	width : 80%;
	display : flex;
	flex-direction : column;
	align-items : center;
}

#title_container
{
	width : 60%;
	margin : 20px 0px;
}

#title_container .control
{
	width : 100%;
}

#title_container .control input
{
	text-align : center;
	font-size : 1.3em;
}

#post_container
{
	width : 100%;
	height : 80%;
	display : flex;
	flex-direction : column;
	align-items : center;
}

#post_control
{
	width : 90%;
	height : 100%;
}

.trix-content
{
	/*height : 90%;*/
	background : white;
	/*overflow : auto;*/
}

#submit_container .submit_container
{
	width : 50%;
	margin : 20px 0;
}

